.block-heading {
  height: 50rem;
  overflow: hidden;
  width: 100%;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.block-black {
  position: absolute;
  right: 0;
  bottom: 0;
  background: black;
  width: 50rem;
  height: 20rem;

  @media screen and (max-width: $bp-small) {
    width: 25rem;
  }
}

.first {
  padding: 8rem 3rem 0 5rem;
  background: black;
  max-width: 114rem;
  min-height: 30rem;
  position: relative;
  margin: -20rem auto 5rem;

  @media screen and (max-width: 1200px) {
    margin-left: 3rem;
  }

  @media screen and (max-width: $bp-small) {
    padding: 8rem 2rem 0 2rem;
  }

  &__contain {
    max-width: 80rem;
    position: relative;
  }

  h2 {
    color: white;
    max-width: 50rem;
  }

  p {
    max-width: 60rem;
  }
}
