.breadcrumbs {
  display: flex;
  margin-bottom: 3rem;

  p {
    margin-right: 1rem;
    text-transform: capitalize;
  }

  &-page {
    &::first-letter {
      text-transform: uppercase;
      color: white;
    }
  }
}
