.contact-blocking {
  h3 {
    color: white;
    text-align: center;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small) {
      margin: 0 auto 3rem;
      max-width: 30rem;
    }
  }

  .block-contact {
    display: flex;
    height: 45rem;
    background: $color-yellow;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-medium) {
      height: auto;
      padding: 3rem 0;
      flex-wrap: wrap;
    }

    @media screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    &__one {
      flex: 1;
      text-align: center;
      padding: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-medium) {
        flex: 0 0 49%;
      }

      img {
        width: 2.2rem;
        height: auto;
      }

      p {
        max-width: 25rem;
        height: 11rem;
      }

      p,
      h3 {
        color: black;
      }
    }

    &__two {
      flex: 1;
      text-align: center;
      padding: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-medium) {
        flex: 0 0 49%;
      }

      img {
        width: 2.5rem;
        height: auto;
      }

      p {
        max-width: 25rem;
        height: 11rem;
      }

      p,
      h3 {
        color: black;
      }
    }

    &__three {
      flex: 1;
      text-align: center;
      padding: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-medium) {
        flex: 0 0 49%;
      }

      img {
        width: 3.5rem;
        height: auto;
      }

      p {
        max-width: 20rem;
        height: 11rem;
      }

      p,
      h3 {
        color: black;
      }
    }
  }
}
