.footer {
  margin-top: 12rem;

  &-contain {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    transition: all 500ms ease;

    @media screen and (max-width: 900px) {
      padding: 5rem 3rem 2rem 0;
      flex-direction: column-reverse;
    }

    // align-items: center;
  }

  &-logo {
    max-width: 30rem;
    transition: all 500ms ease;
    img {
      width: 100%;
      height: auto;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    transition: all 500ms ease;

    @media screen and (max-width: 900px) {
      width: auto;
      flex-wrap: wrap;
      margin-top: 4rem;

      ul {
        margin-bottom: 2rem;
        padding-right: 2rem;
      }
    }

    li {
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.6;
    }

    span {
      font-family: $font-second;
      color: white;
    }

    .title {
      p {
        font-family: $font-primary;
        font-size: 1.8rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
      }
    }
  }

  .copyright {
    display: flex;
    height: 12rem;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 3rem;

    @media screen and (max-width: $bp-small-medium) {
      flex-direction: column-reverse;
      height: auto;
      padding: 3rem 0 2rem;
    }

    &-text {
      font-size: 1.4rem;

      @media screen and (max-width: $bp-small-medium) {
        margin-top: 4.5rem;
      }
    }

    &-list {
      display: flex;

      li {
        &:nth-child(1) {
          // padding-right: 3rem;
          margin-right: 4rem;
          position: relative;

          &::after {
            content: '';
            width: 5rem;
            background-color: white;
            position: absolute;
            bottom: -15px;
            height: 3px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &:nth-child(2) {
          margin-right: 6rem;
          position: relative;

          &::after {
            content: '';
            width: 5rem;
            background-color: white;
            position: absolute;
            bottom: -15px;
            height: 3px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &:nth-child(3) {
          padding-right: 1.5rem;
        }
      }

      .gg-instagram,
      .gg-facebook {
        color: white;
      }

      span {
        font-family: $font-primary;
        color: white;
        font-size: 1.4rem;
      }
    }
  }
}
