.header {
  &-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11.4rem;
  }

  .logo {
    margin-right: 6rem;
    transition: all 500ms ease;
    max-width: 34rem;

    @media screen and (max-width: $bp-medium) {
      max-width: 28rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .menu-container {
    flex: 1;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      display: none;
    }

    .menu {
      display: flex;
      flex: 1;
      justify-content: space-between;
      a,
      span {
        color: white;
        text-transform: uppercase;
      }

      li {
        position: relative;
        cursor: pointer;
      }
    }

    .menu-social {
      display: flex;
      flex: 0 0 8%;
      justify-content: flex-end;
      padding-left: 8rem;

      li {
        &:nth-child(2) {
          padding-left: 2rem;
        }
      }
    }
  }

  .menu-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 45%;
    background: black;
    min-height: 100vh;
    top: 0;
    right: 0;
    z-index: 15;
    align-items: center;
    justify-content: center;
    border-left: 3px solid $color-yellow;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small-medium) {
      width: 75%;
    }

    &__close {
      position: absolute;
      right: 5rem;
      top: 4rem;
      cursor: pointer;

      p {
        font-size: 3rem;
        line-height: 1;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 50vh;

      li {
        opacity: 0;
        transform: translateX(-30px);
        transition: all 500ms ease;
      }
    }

    span {
      color: white;
      font-size: 4rem;
      text-transform: uppercase;
    }
  }

  .menu-mobile-social {
    display: flex;
    max-width: 6rem;
    justify-content: space-between;
    margin-left: 1rem;
  }

  .hamburger {
    position: relative;
    width: 32px;
    height: 28px;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $color-yellow;
      border-radius: 0.9rem;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 10px;
      }

      &:nth-child(4) {
        top: 20px;
      }
    }
  }

  .open {
    span {
      &:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
