.home {
  min-height: 1200px;

  .we-do {
    position: absolute;
    right: 0;
    top: -16rem;
    background: $color-yellow;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 20rem;
    margin-right: -3rem;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small-medium) {
      top: -22rem;
      width: 18rem;
    }

    p {
      color: black;
      font-size: 2.1rem;
      line-height: 1.4;
      text-transform: uppercase;
      font-family: $font-primary;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

.photos {
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 500ms ease;

  @media screen and (min-width: $bp-small) {
    display: flex;
  }

  @media screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  &-item {
    flex: 0 0 49%;
    height: 50rem;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 3rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2rem;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small) {
      height: 40rem;
    }
  }
}
