.informatie {
  h3 {
    color: white;
  }

  .question {
    &-title {
      padding: 2rem 0;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &-answer {
      padding-bottom: 3rem;
    }

    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}
