.over {
  &__sub {
    display: flex;
    p {
      font-family: $font-primary;
      letter-spacing: 1px;
      font-size: 1.8rem;
    }

    li {
      position: relative;
      margin-right: 2rem;
    }
  }
}
