.rentals {
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: $bp-small-medium) {
      flex-direction: column;
    }

    .rental {
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      height: 24rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 3rem 3rem 5rem;

      h3 {
        color: white;
        position: relative;
        z-index: 10;
      }
    }

    li {
      flex: 0 0 49%;
      height: 24rem;
      margin-bottom: 2rem;
      position: relative;
    }
  }

  a {
    color: white;
    font-family: $font-second;
    line-height: 2.2;
    position: relative;
    z-index: 10;
  }
}

h2.smaller-font {
  font-size: 2.5rem;
}

.bullet-list {
  padding-left: 50px;
}

.bullet-item {
  font-size: 1.5rem;
  line-height: 2.2;
  font-family: "Montserrat";
  color: #fff;
  list-style-type: disc !important;
}
