.service-block {
  .first-row {
    display: flex;
    justify-content: space-between;
    height: 50rem;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small) {
      flex-direction: column;
      height: auto;
    }

    .block-fes {
      flex: 0 0 49%;
      background: url('/images/festivals.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 3rem 3rem 5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: all 500ms ease;
      position: relative;

      @media screen and (max-width: $bp-small) {
        flex: auto;
        height: 24rem;
        margin-bottom: 2rem;
      }

      p {
        color: black;
        max-width: 85%;
        position: relative;
        z-index: 10;
      }

      h3 {
        color: white;
        position: relative;
        z-index: 10;
      }
    }

    .block-bedrijf {
      flex: 0 0 49%;
      background: url('/images/bedrijfsfeesten.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 3rem 3rem 5rem;
      transition: all 500ms ease;
      position: relative;

      @media screen and (max-width: $bp-small) {
        height: 24rem;
        flex: auto;
      }

      p {
        color: black;
        max-width: 85%;
        position: relative;
        z-index: 10;
      }

      h3 {
        color: white;
        position: relative;
        z-index: 10;
      }
    }
  }

  .second-row {
    display: flex;
    justify-content: space-between;
    height: 50rem;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small) {
      flex-direction: column;
      height: auto;
    }

    .block-concert {
      flex: 0 0 49%;
      background: url('/images/concerten.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: all 500ms ease;
      padding: 3rem 3rem 5rem;
      position: relative;

      @media screen and (max-width: $bp-small) {
        flex: auto;
        height: 24rem;
        margin-bottom: 2rem;
      }

      &__contain {
        padding: 3rem 3rem 5rem;
      }

      p {
        color: black;
        max-width: 85%;
        position: relative;
        z-index: 10;
      }

      h3 {
        color: white;
        position: relative;
        z-index: 10;
      }
    }

    .two-blocks {
      flex: 0 0 49%;
      justify-content: space-between;
      flex-direction: column;
      display: flex;
      transition: all 500ms ease;
      position: relative;

      @media screen and (max-width: $bp-small) {
        flex: 1;
      }

      .block-congres {
        background-image: url('/images/congressen.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 3rem 3rem 5rem;
        transition: all 500ms ease;
        position: relative;

        @media screen and (max-width: $bp-small) {
          margin-bottom: 2rem;
        }

        p {
          color: black;
          max-width: 85%;
          position: relative;
          z-index: 10;
        }

        h3 {
          color: white;
          position: relative;
          z-index: 10;
        }
      }

      .block-overige {
        background-image: url('/images/overige.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 3rem 3rem 5rem;
        transition: all 500ms ease;
        position: relative;

        p {
          color: black;
          max-width: 85%;
          position: relative;
          z-index: 10;
        }

        h3 {
          color: white;
          position: relative;
          z-index: 10;
        }
      }
    }
  }
}

.events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 500ms ease;
  margin-bottom: 8rem;

  @media screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  .events-block {
    flex: 0 0 49%;
    margin-bottom: 2rem;
    transition: all 500ms ease;

    .background {
      height: 50rem;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      padding: 3rem 3rem 5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-small) {
        height: 24rem;
        flex: auto;
      }
    }
  }

  .events-block-two {
    flex: 0 0 49%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small) {
      flex: auto;
      margin-bottom: 2rem;
    }
  }

  .events-block__short {
    background-image: url('/images/congressen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem 3rem 5rem;
  }

  .events-block-full {
    background-image: url('/images/congressen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem 3rem 5rem;
    width: 100%;
    margin-bottom: 10rem;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small) {
      height: 24rem;
      flex: auto;
    }
  }
}
