.video {
  max-width: 80rem;
  margin: 0 auto;
  transition: all 500ms ease;

  @media screen and (min-width: $bp-medium) {
    padding: 0 3rem;
  }

  video {
    width: 100%;
    height: 100%;
  }
}
