<template>
  <div class="rentals">
    <blockHeading video="contact" />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small"
          >
            Bezoekadres & Magazijn
          </h2>
          <p>Stevinstraat 2A</p>
          <p class="margin-bottom-small">1704 RN Heerhugowaard</p>
          <p class="line-height-normal margin-bottom-smaller">
            <span class="harab white">E-mail algemeen:</span>
            <br />
            <a
              class="white mons line-height-normal"
              href="mailto:info@bleekergroup.nl"
              >info@bleekergroup.nl</a
            >
          </p>
          <p class="margin-bottom-small line-height-normal">
            <span class="harab white">Telefoonnummer:</span>
            <br />+31 (0)72 303 3420
          </p>
          <p><span class="harab white">Kvk:</span> 53004558</p>
          <a
            style="text-decoration: underline"
            download
            href="https://bleekergroup.nl/files/logo-pakket-bleeker-group.zip"
            >Download de logo's van Bleeker Group</a
          >
        </div>

        <iframe
          class="margin-top-medium margin-bottom-medium"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2418.9715976135753!2d4.833214915813374!3d52.6785506798445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47cf5411f061f10f%3A0x1920ce79355e62de!2sStevinstraat%202%2C%201704%20RN%20Heerhugowaard!5e0!3m2!1sen!2snl!4v1590494713992!5m2!1sen!2snl"
          width="100%"
          height="450"
          frameborder="0"
          style="border: 0"
          allowfullscreen
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
    </div>
    <contactBlock />
  </div>
</template>

<script>
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
  },
  data() {
    return {
      locations: [
        {
          lat: 52.676239,
          lng: 4.79803,
        },
      ],
      pins: {
        selected: '/images/logo-small.png',
        notSelected: '/images/logo-small.png',
      },
      mapStyle: [],
      currentLocation: {},
    }
  },
}
</script>
