<template>
  <div class="rentals">
    <blockHeading />
    <div v-for="(item, index) in projects" :key="index">
      <div class="first">
        <div class="container">
          <div class="first__contain">
            <Breadcrumbs />
            <div>
              <h2
                v-if="item.title"
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                class="margin-bottom-small"
              >
                {{ item.title }}
              </h2>
              <p class="margin-bottom-big">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container events">
        <div
          class="events-block"
          v-for="project in item.projects"
          :key="project._id"
        >
          <div
            class="background"
            :style="{
              'background-image': `url(/images/${project.category}/${project.slug}/${project.slug}-${project.image1})`,
            }"
          >
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small white"
            >
              {{ project.name }}
            </h3>
            <nuxt-link :to="`/${project.category}/${project.slug}`">
              <button class="btn-long">
                <span>Bekijk alle projecten</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
        </div>
      </div>

      <!-- <div class="container">
        <div class="events margin-bottom-big">
          <div
            v-if="item.projects && item.projects[0].name !== ''"
            :style="{
              'background-image': `url(/images/${item.projects[0].category}/${item.projects[0].slug}/${item.projects[0].slug}-${item.projects[0].image1})`,
            }"
            class="events-block"
          >
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small white"
            >
              {{ item.projects[0].name }}
            </h3>
            <nuxt-link :to="`/${item.slug}/${item.projects[0].slug}`">
              <button class="btn-long">
                <span>Bekijk alle projecten</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
          <div v-else style="width: 100%;">
            <div
              style="text-align: center; color: white;"
              class="margin-bottom-medium"
            >
              <h2
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              >
                Geen evenementen beschikbaar
              </h2>
            </div>
          </div>
          <div
            v-if="item.projects && item.projects[1].name !== ''"
            :style="{
              'background-image': `url(/images/${item.projects[1].category}/${item.projects[1].slug}/${item.projects[1].slug}-${item.projects[1].image1})`,
            }"
            class="events-block"
          >
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small white"
            >
              {{ item.projects[1].name }}
            </h3>
            <nuxt-link :to="`/${item.slug}/${item.projects[1].slug}`">
              <button class="btn-long">
                <span>Bekijk alle projecten</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
          <div
            v-if="item.projects && item.projects[2].name !== ''"
            class="events-block-two"
          >
            <div
              :style="{
                'background-image': `url(/images/${item.projects[2].category}/${item.projects[2].slug}/${item.projects[2].slug}-${item.projects[2].image1})`,
              }"
              class="events-block__short"
            >
              <h3
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                class="margin-bottom-small white"
              >
                {{ item.projects[2].name }}
              </h3>
              <nuxt-link :to="`/${item.slug}/${item.projects[2].slug}`">
                <button class="btn-long">
                  <span>Bekijk alle projecten</span>
                  <div class="btn-icon">
                    <i class="gg-arrow-right" />
                  </div>
                </button>
              </nuxt-link>
            </div>
            <div
              :style="{
                'background-image': `url(/images/${item.projects[4].category}/${item.projects[4].slug}/${item.projects[4].slug}-${item.projects[4].image1})`,
              }"
              class="events-block__short"
            >
              <h3
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                class="margin-bottom-small white"
              >
                {{ item.projects[4].name }}
              </h3>
              <nuxt-link :to="`/${item.slug}/${item.projects[4].slug}`">
                <button class="btn-long">
                  <span>Bekijk alle projecten</span>
                  <div class="btn-icon">
                    <i class="gg-arrow-right" />
                  </div>
                </button>
              </nuxt-link>
            </div>
          </div>
          <div
            v-if="item.projects && item.projects[3].name !== ''"
            :style="{
              'background-image': `url(/images/${item.projects[3].category}/${item.projects[3].slug}/${item.projects[3].slug}-${item.projects[3].image1})`,
            }"
            class="events-block"
          >
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small white"
            >
              {{ item.projects[3].name }}
            </h3>
            <nuxt-link :to="`/${item.slug}/${item.projects[3].slug}`">
              <button class="btn-long">
                <span>Bekijk alle projecten</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
          <div
            v-if="item.projects && item.projects[4].name !== ''"
            :style="{
              'background-image': `url(/images/${item.projects[4].category}/${item.projects[4].slug}/${item.projects[4].slug}-${item.projects[4].image1})`,
            }"
            class="events-block"
          >
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small white"
            >
              {{ item.projects[4].name }}
            </h3>
            <nuxt-link :to="`/${item.slug}/${item.projects[4].slug}`">
              <button class="btn-long">
                <span>Bekijk alle projecten</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
        </div>
      </div> -->
    </div>
    <contactBlock />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
  },
  computed: {
    ...mapState({
      projects: (state) => state.projects,
    }),
  },
  mounted() {
    this.$store.dispatch('projects/getProjects')
  },
}
</script>
