<template>
  <div class="rentals">
    <blockHeading video="sales" />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small"
          >
            Sales
          </h2>
          <p class="margin-bottom-big">
            Bleeker Group helpt u met de juiste apparatuur. Naast het verhuren
            van spullen verkopen we zowel nieuw als occasion. Ons assortiment
            bestaat uit: licht, geluid, video, rigging, fx en nog veel meer! Van
            1 specifiek artikel tot een compleet opgeleverde installatie. Niks
            is te gek!
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="rentals-list margin-bottom-small">
        <li>
          <div style="background: url('/images/reparatie.jpg')" class="rental">
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small"
            >
              Occasions
            </h3>
            <a
              target="_blank"
              href="https://www.marktplaats.nl/u/bleeker-group-occasions/23259424/"
            >
              <button class="btn-long btn-yellow">
                <span>Meer informatie</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </a>
          </div>
        </li>
      </ul>

      <div class="center-block margin-bottom-big">
        <nuxt-link to="/#projects">
          <button class="btn-long btn-black">
            <span>Bekijk alle projecten</span>
            <div class="btn-icon">
              <i class="gg-arrow-right" />
            </div>
          </button>
        </nuxt-link>
      </div>
    </div>
    <contactBlock />
  </div>
</template>

<script>
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
  },
}
</script>
