<template>
  <div class="rentals">
    <blockHeading video="installaties" />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small"
          >
            Installations
          </h2>
          <p class="margin-bottom-big">
            Bleeker Group helpt u graag met de realisatie van een complete vaste
            installatie op uw locatie. Onze expertise is het vinden van
            oplossingen op het audiovisuele vlak. Geen locatie is te gek, of het
            nou een nieuwe sportschool, kroeg, theaterzaal of vergaderzaal is,
            wij bieden altijd een passende oplossing of advies.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="rentals-list margin-bottom-medium">
        <li>
          <div style="background: url('/images/reparatie.jpg')" class="rental">
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small"
            >
              Reparatie
            </h3>
            <nuxt-link to="/installations/reparatie">
              <button class="btn-long btn-yellow">
                <span>Meer informatie</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
        </li>
        <li>
          <div
            style="background: url('/images/installatie.jpg')"
            class="rental"
          >
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small"
            >
              Installatie
            </h3>
            <nuxt-link to="/installations/installatie">
              <button class="btn-long btn-yellow">
                <span>Meer informatie</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
        </li>
      </ul>
      <div class="center-block margin-bottom-big">
        <nuxt-link to="/#projects">
          <button class="btn-long btn-black">
            <span>Bekijk alle projecten</span>
            <div class="btn-icon">
              <i class="gg-arrow-right" />
            </div>
          </button>
        </nuxt-link>
      </div>
    </div>
    <contactBlock />
  </div>
</template>

<script>
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
  },
}
</script>
