<template>
  <div class="rentals">
    <blockHeading />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small"
          >
            Privacyverklaring van Bleeker Group
          </h2>
          <div class="margin-bottom-medium">
            <p>Bleeker Group</p>
            <p>Stevinstraat 2A</p>
            <p>1704RN Heerhugowaard</p>
            <a href="mailto:info@bleekergroup.nl">info@bleekergroup.nl</a>
            <p>T: +31 (0)72 303 34 20</p>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">
              Jouw persoonsgegevens en jouw privacy in ons bedrijf.
            </p>
            <p>
              Dit is de privacyverklaring van Bleeker Group zijn onderliggende
              labels. In deze verklaring zetten wij uiteen hoe wij omgaan met de
              persoonsgegevens die wij in ons contact met jou verkrijgen.
              Bleeker Group voldoet aan de bepalingen van de AVG (Algemene
              Verordening Persoonsgegevens).
            </p>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">Algemeen</p>
            <p>
              De AVG is de nieuwe wet ter bescherming van privacy en
              persoonsgegevens. Op grond van deze wet heeft een organisatie die
              met persoonsgegevens werkt bepaalde plichten en heeft degene van
              wie de gegevens zijn bepaalde rechten. Dit privacyreglement is
              bedoeld om je te informeren over je rechten en onze plichten die
              van toepassing zijn op grond van de AVG.
            </p>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">Bleeker Group</p>
            <p class="margin-bottom-small">
              Bij Bleeker Group kunnen diverse persoonsgegevens van je verwerkt
              worden. Dit is noodzakelijk om je sollicitatie en/of vragen goed
              te kunnen verwerken, voor het administratief afhandelen van de
              sollicitatie en/of voor statistische doeleinden. Bleeker Group
              slaat je persoonlijke gegevens op in een beveiligde database. En
              daar blijven ze ook. We geven je informatie niet door aan derden
              voor commerciële doeleinden.
            </p>

            <p class="margin-bottom-small">
              <span class="bold">De plichten van Bleeker Group</span> is volgens
              de AVG de verantwoordelijke voor de verwerking van
              persoonsgegevens die in het bedrijf plaatsvinden. Aan de plichten
              die daaruit voortkomen, voldoet Bleeker Group als volgt:
            </p>

            <ul class="text-list">
              <li>
                <p>
                  Je gegevens worden voor specifieke doeleinden verzameld en
                  bewaard. Je persoonsgegevens worden niet langer bewaard dan
                  noodzakelijk voor:
                </p>
                <ul class="sublist">
                  <li><p>Verwerken van de sollicitatie</p></li>
                  <li><p>statistische doeleinden</p></li>
                  <li>
                    <p>Verzenden van onze Nieuwsbrieven (na aanmelding)</p>
                  </li>
                  <li><p>Reviews</p></li>
                </ul>
              </li>
              <li>
                <p>
                  Er vindt in beginsel geen verwerking plaats voor andere
                  doeleinden.
                </p>
              </li>
              <li>
                <p>
                  Je wordt op de hoogte gesteld van het feit dat er
                  persoonsgegevens van je verwerkt worden. Dit gebeurd via onze
                  website of mail.
                </p>
              </li>
              <li>
                <p>
                  Alle medewerkers binnen Bleeker Group hebben zich verplicht om
                  vertrouwelijk om te gaan met jouw persoonsgegevens.
                </p>
              </li>
              <li>
                <p>
                  Je persoonsgegevens worden goed beveiligd tegen onbevoegde
                  toegang van derden.
                </p>
              </li>
            </ul>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">Uw rechten als betrokkene:</p>
            <p>Je hebt de volgende rechten:</p>
            <ul class="text-list margin-bottom-small">
              <li>
                <p>
                  Het recht om te weten of en welke persoonsgegevens van je
                  verwerkt worden.
                </p>
              </li>
              <li>
                <p>
                  Het recht op inzage van die gegevens (voor zover de privacy
                  van een ander daardoor niet wordt geschaad).
                </p>
              </li>
              <li>
                <p>
                  Het recht op correctie, aanvulling of verwijdering van
                  gegevens indien dat nodig mocht zijn.
                </p>
              </li>
              <li>
                <p>
                  Het recht om (gedeeltelijke) vernietiging van je gegevens te
                  vragen.
                </p>
              </li>
              <li>
                <p>
                  Het recht om je in bepaalde gevallen tegen de verwerking van
                  uw gegevens te verzetten.
                </p>
              </li>
            </ul>
            <p>
              Als je gebruik wilt maken van jouw rechten, dan kunt je dit
              mondeling of middels een aanvraagformulier kenbaar maken aan
              Bleekergroup. Je belangen kunnen ook behartigd worden door een
              vertegenwoordiger (zoals een schriftelijk gemachtigde, of je
              curator of mentor).
            </p>
          </div>
          <div class="margin-bottom-medium">
            <p class="bold">Veiligheid</p>
            <p>
              Bij gegevensoverdracht gebruiken wij het zogenaamde
              SSL-veiligheidssysteem (Secure Socket Layer). Alle je gegevens
              zijn door de bovengenoemde standaard uitgebreid beveiligd. Dat
              jouw gegevens versleuteld verzonden worden zie je aan het symbool
              van een sleutel of gesloten slot in de statusbalk van jouw
              browser.
            </p>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">Gegevens van websitebezoek</p>
            <p class="margin-bottom-small">
              Wij ontvangen gegevens die wij krijgen op basis van jouw bezoek
              aan onze website. Voorbeelden hiervan zijn cookies. Deze gegevens
              gebruiken wij om een beter beeld te krijgen van onze bezoekers en
              om onze dienstverlening en website te ontwikkelen en aan te passen
              aan de wensen van onze bezoekers.
            </p>
            <p>
              Op de site gebruiken wij Google Analytics om de werking van de
              site te kunnen analyseren en om het rendement van verkeersbronnen
              te kunnen meten. Google kan deze informatie aan derden verschaffen
              indien Google hiertoe wettelijk wordt verplicht, of voor zover
              derden de informatie namens Google verwerken. Wij hebben hier geen
              invloed op. Wij hebben Google niet toegestaan de verkregen
              analytics informatie te gebruiken voor andere Google diensten. De
              informatie die Google verzamelt wordt zo veel mogelijk
              geanonimiseerd. Jouw IP-adres wordt nadrukkelijk niet meegegeven.
            </p>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">Gegevens inzien en aanpassen</p>
            <p>
              Je hebt het recht om te vragen om inzage in en correctie of
              verwijdering van jouw gegevens. Zie voor onze gegevens onze
              contactpagina. Om misbruik te voorkomen kunnen wij je daarbij
              vragen om je adequaat te identificeren. Wanneer het gaat om inzage
              in persoonsgegevens gekoppeld aan een cookie, dien je een kopie
              van het cookie in kwestie mee te sturen. Je kunt deze terug vinden
              in de instellingen van je browser.
            </p>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">Verstrekking van uw persoonsgegevens aan derden</p>
            <p>
              De medewerkers van Bleeker Group hebben de verplichting
              vertrouwelijk met je persoonsgegevens om te gaan. Jouw
              persoonsgegevens worden niet aan derden verstrekt.
            </p>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">Vraag of klacht</p>
            <p>
              Heb je een vraag of een klacht? Wij zijn natuurlijk altijd
              beschikbaar om jou vragen te beantwoorden. Tevens heb je het recht
              op indienen van een klacht bij de Autoriteit Persoonsgegevens (AP:
              <a
                target="_blank"
                href="https://autoriteitpersoonsgegevens.nl/nl/melden/melden-verwerking-persoonsgegevens"
                >https://autoriteitpersoonsgegevens.nl/nl/melden/melden-verwerking-persoonsgegevens</a
              >).
            </p>
          </div>

          <div class="margin-bottom-medium">
            <p class="bold">Wijzigingen</p>
            <p>
              Deze privacyverklaring kan worden gewijzigd. Eventuele wijzigingen
              worden bekendgemaakt op deze pagina.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
  },
}
</script>
