<template>
  <div class="block-heading">
    <video playsinline muted autoplay loop name="media" 
    preload="auto">
      <source :src="`/videos/${video}.mp4`" type="video/mp4" />
       
    </video>
    <!-- <div class="block-black" /> -->
  </div>
</template>

<script>
export default {
  props: {
    video: {
      type: String,
      default: 'home6',
    },
    videoSilent: {
      type: String,
      default: 'silent_disco',
    }
  },
}
</script>
