<template>
  <div class="breadcrumbs">
    <nuxt-link to="/">
      <p>Home</p>
    </nuxt-link>
    <p>/</p>
    <nuxt-link :to="`/${this.$route.path.split('/')[1]}`">
      <p class="breadcrumbs-page">
        {{ this.$route.path.split('/')[1].replace('-', ' ') }}
      </p>
    </nuxt-link>
    <p v-if="this.$route.path.split('/')[2]">/</p>
    <p v-if="this.$route.path.split('/')[2]">
      {{ this.$route.path.split('/')[2].replaceAll('-', ' ') }}
    </p>
  </div>
</template>

<script>
export default {
  created() {
    // console.log(this.$route)
  },
}
</script>
