<template>
  <div class="contact-blocking">
    <div class="container">
      <h3
        alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
        class="margin-bottom-smallest"
      >
        Interesse of gewoon een vraag?
      </h3>
      <h3
        alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
        class="margin-bottom-medium"
      >
        Wij zullen zo snel mogelijk reageren!
      </h3>
      <div class="block-contact">
        <div class="block-contact__one">
          <img
            class="margin-bottom-small"
            src="/images/telefonisch.png"
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
          />
          <h3
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-smaller"
          >
            Telefonisch
          </h3>
          <p class="margin-bottom-small">
            Voor vragen kunt u ons altijd telefonisch bereiken tussen 09:00 en
            18:00 uur.
          </p>
          <nuxt-link to="/contact">
            <button class="btn-long">
              <span>Meer informatie</span>
              <div class="btn-icon">
                <i class="gg-arrow-right" />
              </div>
            </button>
          </nuxt-link>
        </div>
        <div class="block-contact__two">
          <img
            class="margin-bottom-small"
            src="/images/wijbellenu.png"
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
          />
          <h3
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-smaller"
          >
            Wij bellen u
          </h3>
          <p class="margin-bottom-small">
            Wilt u gebeld worden door ons? Laat uw naam en telefoonnummer
            achter.
          </p>
          <a href="mailto:info@bleekergroup.nl">
            <button class="btn-long">
              <span>Meer informatie</span>
              <div class="btn-icon">
                <i class="gg-arrow-right" />
              </div>
            </button>
          </a>
        </div>
        <div class="block-contact__three">
          <img
            class="margin-bottom-small"
            src="/images/email.png"
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
          />
          <h3
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-smaller"
          >
            E-mail
          </h3>
          <p class="margin-bottom-small">
            Voor specifieke vragen of advies kunt u ons per mail bereiken.
          </p>
          <a href="mailto:info@bleekergroup.nl">
            <button class="btn-long">
              <span>Meer informatie</span>
              <div class="btn-icon">
                <i class="gg-arrow-right" />
              </div>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
