<template>
  <footer class="footer">
    <div class="container">
      <div class="line-white"></div>
      <div class="footer-contain">
        <div class="footer-list">
          <ul>
            <li class="title">
              <p>Bleeker Group</p>
            </li>
            <li>
              <nuxt-link to="/">
                <span>Home</span>
              </nuxt-link>
            </li>
            <li>
              <nuxt-link to="/over-ons">
                <span>Over Ons</span>
              </nuxt-link>
            </li>
            <li>
              <nuxt-link to="/rentals">
                <span>Rentals</span>
              </nuxt-link>
            </li>
            <li>
              <nuxt-link to="/sales">
                <span>Sales</span>
              </nuxt-link>
            </li>
            <li>
              <nuxt-link to="/installations">
                <span>Installations</span>
              </nuxt-link>
            </li>
          </ul>
          <ul>
            <li class="title">
              <p>Informatie</p>
            </li>
            <li>
              <nuxt-link to="/informatie#betalen">
                <span>Betalen</span>
              </nuxt-link>
            </li>
            <li>
              <nuxt-link to="/informatie#huren">
                <span>Huren</span>
              </nuxt-link>
            </li>
            <li>
              <nuxt-link to="/informatie#bedrijven">
                <span>Voor bedrijven</span>
              </nuxt-link>
            </li>
          </ul>
          <ul>
            <li class="title">
              <p>Contact</p>
            </li>
            <li><p>Stevinstraat 2A</p></li>
            <li><p>1704 RN Heerhugowaard</p></li>
            <li><p>+31 (0)72 303 3420</p></li>
          </ul>
        </div>
        <div class="footer-logo">
          <img
            src="/images/bleeker-logo.png"
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
          />
        </div>
      </div>
      <div class="line-white"></div>
      <div class="copyright">
        <p class="copyright-text">Bleeker Group © All Rights Reserved.</p>
        <ul class="copyright-list">
          <li>
            <a
              target="_blank"
              href="http://bleekergroup.nl/pdf/algemene-voorwaarden.pdf"
            >
              <span>Terms of Service</span>
            </a>
          </li>
          <li>
            <nuxt-link to="/privacy-policy">
              <span>Privacy Policy</span>
            </nuxt-link>
          </li>
          <li>
            <a target="_blank" href="https://www.instagram.com/bleekergroup/"
              ><i class="gg-instagram"
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/bleekergroup/"
              ><i class="gg-facebook"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
