<template>
  <header class="header">
    <div class="container">
      <div class="header-contain">
        <nuxt-link to="/">
          <div class="logo">
            <img
              src="/images/bleeker-logo.png"
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            />
          </div>
        </nuxt-link>

        <div
          class="hamburger"
          :class="{ open: showMobileMenu }"
          @click=";(showMobileMenu = !showMobileMenu), addAnimation($event)"
        >
          <span />
          <span />
          <span />
          <span />
        </div>

        <div class="menu-container">
          <ul class="menu">
            <li>
              <nuxt-link to="/">
                <span>Home</span>
              </nuxt-link>
            </li>
            <li><div class="dot" /></li>
            <li>
              <nuxt-link to="/over-ons">
                <span>Over ons</span>
              </nuxt-link>
            </li>
            <li><div class="dot" /></li>
            <li>
              <nuxt-link to="/rentals">
                <span>Rentals</span>
              </nuxt-link>
            </li>
            <li><div class="dot" /></li>
            <li>
              <nuxt-link to="/sales">
                <span>Sales</span>
              </nuxt-link>
            </li>
            <li><div class="dot" /></li>
            <li>
              <nuxt-link to="/installations">
                <span>Installations</span>
              </nuxt-link>
            </li>
            <li><div class="dot" /></li>
            <li>
              <nuxt-link to="/contact">
                <span>Contact</span>
              </nuxt-link>
            </li>
          </ul>
          <ul class="menu-social">
            <li>
              <a target="_blank" href="https://www.instagram.com/bleekergroup/"
                ><i class="gg-instagram"
              /></a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/bleekergroup/"
                ><i class="gg-facebook"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <transition name="slide">
      <div v-if="showMobileMenu" class="menu-mobile">
        <div class="menu-mobile__close" @click="showMobileMenu = false">
          <p>X</p>
        </div>
        <ul class="menu-mobile__list">
          <li @click="showMobileMenu = false">
            <nuxt-link to="/">
              <span>Home</span>
            </nuxt-link>
          </li>
          <li @click="showMobileMenu = false">
            <nuxt-link to="/over-ons">
              <span>Over ons</span>
            </nuxt-link>
          </li>
          <li @click="showMobileMenu = false">
            <nuxt-link to="/rentals">
              <span>Rentals</span>
            </nuxt-link>
          </li>
          <li @click="showMobileMenu = false">
            <nuxt-link to="/sales">
              <span>Sales</span>
            </nuxt-link>
          </li>
          <li @click="showMobileMenu = false">
            <nuxt-link to="/installations">
              <span>Installations</span>
            </nuxt-link>
          </li>
          <li @click="showMobileMenu = false">
            <nuxt-link to="/contact">
              <span>Contact</span>
            </nuxt-link>
          </li>
          <li>
            <ul class="menu-mobile-social">
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/bleekergroup/"
                  ><i class="gg-instagram"
                /></a>
              </li>
              <li>
                <a target="_blank" href="https://www.facebook.com/bleekergroup/"
                  ><i class="gg-facebook"
                /></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </transition>
    <transition mode="out-in" name="flip-down">
      <div v-show="showMobileMenu" class="menu--under" />
    </transition>
  </header>
</template>

<script>
export default {
  component: {},
  data() {
    return {
      showMobileMenu: false,
    }
  },
  watch: {
    showMobileMenu() {
      if (this.showMobileMenu) {
        document.documentElement.style.overflow = 'hidden'
        return
      }
      document.documentElement.style.overflow = 'auto'
    },
  },
  mounted() {
    window.addEventListener('resize', () => {
      if (window.innerWidth >= 1200) {
        this.showMobileMenu = false
      }
    })
  },
  methods: {
    addAnimation(e) {
      if (this.showMobileMenu) {
        setTimeout(() => {
          const menuLi = document.querySelectorAll('.menu-mobile__list li')
          for (let i = 0; i < menuLi.length; i++) {
            setTimeout(() => {
              menuLi[i].classList.add('bumpr')
            }, i * 100)
          }
        }, 200)
      }
    },
  },
}
</script>
