<template>
  <div class="service-block">
    <div class="container">
      <!-- First -->
      <div class="first-row margin-bottom-smaller">
        <div
          class="block-fes"
          @mouseenter="fesUnderlay = true"
          @mouseleave="fesUnderlay = false"
        >
          <transition name="fade">
            <div v-if="fesUnderlay" class="underlay-yellow"></div>
          </transition>
          <h3
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small v-mobile"
          >
            Festivals
          </h3>
          <h3
            v-if="!fesUnderlay"
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small v-desktop"
          >
            Festivals
          </h3>
          <transition name="slide-up">
            <div v-if="fesUnderlay" class="overlay-text">
              <h3
                :class="{ 'text-black': fesUnderlay }"
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                class="margin-bottom-small"
              >
                Festivals
              </h3>
              <p class="margin-bottom-small">
                Of het nou gaat om complete verzorging van een event, losse
                apparatuur, installatie of advies: Bleeker Group is het
                antwoord.
              </p>
            </div>
          </transition>
          <nuxt-link to="/festivals">
            <button :class="{ 'btn-yellow': !fesUnderlay }" class="btn-long">
              <span>Bekijk alle projecten</span>
              <div class="btn-icon">
                <i class="gg-arrow-right" />
              </div>
            </button>
          </nuxt-link>
        </div>
        <div
          class="block-bedrijf"
          @mouseenter="bedUnderlay = true"
          @mouseleave="bedUnderlay = false"
        >
          <transition name="fade">
            <div v-if="bedUnderlay" class="underlay-yellow"></div>
          </transition>
          <h3
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small v-mobile"
          >
            Bedrijfsfeesten
          </h3>
          <h3
            v-if="!bedUnderlay"
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small v-desktop"
          >
            Bedrijfsfeesten
          </h3>
          <transition name="slide-up">
            <div v-if="bedUnderlay" class="overlay-text">
              <h3
                :class="{ 'text-black': bedUnderlay }"
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                class="margin-bottom-small"
              >
                Bedrijfsfeesten
              </h3>
              <p class="margin-bottom-small">
                Wilt u een relatiedag, modeshow, productpresentatie of een
                spetterend personeelsfeest plannen?
              </p>
            </div>
          </transition>
          <nuxt-link to="/bedrijfsfeesten">
            <button :class="{ 'btn-yellow': !bedUnderlay }" class="btn-long">
              <span>Bekijk alle projecten</span>
              <div class="btn-icon">
                <i class="gg-arrow-right" />
              </div>
            </button>
          </nuxt-link>
        </div>
      </div>
      <!-- First end -->
      <div class="second-row">
        <div
          class="block-concert"
          @mouseenter="conUnderlay = true"
          @mouseleave="conUnderlay = false"
        >
          <transition name="fade">
            <div v-if="conUnderlay" class="underlay-yellow"></div>
          </transition>
          <!-- <div class="block-concert__contain"> -->
          <h3
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small v-mobile"
          >
            Concerten
          </h3>
          <h3
            v-if="!conUnderlay"
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small v-desktop"
          >
            Concerten
          </h3>
          <transition name="slide-up">
            <div v-if="conUnderlay" class="overlay-text">
              <h3
                :class="{ 'text-black': conUnderlay }"
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                class="margin-bottom-small"
              >
                Concerten
              </h3>
              <p class="margin-bottom-small">
                Wij verzorgen de techniek bij concerten voor alle muzieksoorten,
                zowel in binnen als buiten locaties.
              </p>
            </div>
          </transition>
          <nuxt-link to="/concerten">
            <button :class="{ 'btn-yellow': !conUnderlay }" class="btn-long">
              <span>Bekijk alle projecten</span>
              <div class="btn-icon">
                <i class="gg-arrow-right" />
              </div>
            </button>
          </nuxt-link>
          <!-- </div> -->
        </div>
        <div class="two-blocks">
          <div
            class="block-congres"
            @mouseenter="congUnderlay = true"
            @mouseleave="congUnderlay = false"
          >
            <transition name="fade">
              <div v-if="congUnderlay" class="underlay-yellow"></div>
            </transition>
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small v-mobile"
            >
              Congressen
            </h3>
            <h3
              v-if="!congUnderlay"
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small v-desktop"
            >
              Congressen
            </h3>
            <transition name="slide-up">
              <div v-if="congUnderlay" class="overlay-text">
                <h3
                  :class="{ 'text-black': congUnderlay }"
                  alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                  class="margin-bottom-small"
                >
                  Congressen
                </h3>
              </div>
            </transition>
            <nuxt-link to="/congressen">
              <button :class="{ 'btn-yellow': !congUnderlay }" class="btn-long">
                <span>Bekijk alle projecten</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
          <div
            class="block-overige"
            @mouseenter="overUnderlay = true"
            @mouseleave="overUnderlay = false"
          >
            <transition name="fade">
              <div v-if="overUnderlay" class="underlay-yellow"></div>
            </transition>
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small v-mobile"
            >
              Overige
            </h3>
            <h3
              v-if="!overUnderlay"
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small v-desktop"
            >
              Overige
            </h3>
            <transition name="slide-up">
              <div v-if="overUnderlay" class="overlay-text">
                <h3
                  :class="{ 'text-black': overUnderlay }"
                  alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                  class="margin-bottom-small"
                >
                  Overige
                </h3>
              </div>
            </transition>
            <nuxt-link to="/overige">
              <button :class="{ 'btn-yellow': !overUnderlay }" class="btn-long">
                <span>Bekijk alle projecten</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fesUnderlay: false,
      bedUnderlay: false,
      conUnderlay: false,
      congUnderlay: false,
      overUnderlay: false,
    }
  },
}
</script>
