<template>
  <div class="video">
    <div class="margin-bottom-small">
      <video controls name="media" preload="auto">
        <source :src="`/videos/${video}.mp4#t=0.4`" type="video/mp4" />
      </video>
    </div>

    <nuxt-link to="/#projects">
      <button class="btn-long btn-black">
        <span>Bekijk alle projecten</span>
        <div class="btn-icon">
          <i class="gg-arrow-right" />
        </div>
      </button>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    video: {
      type: String,
      default: 'home6',
    },
  },
}
</script>
