<template>
  <div class="rentals">
    <blockHeading v-if="$nuxt.$route.path == '/rentals/silent-disco'" video="silent_disco" />
    <blockHeading v-else video="rentals" />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <div
            v-for="(rental, index) in rentals"
            :key="index"
            class="margin-bottom-big"
          >
            <h2
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small"
            >
              {{ rental.title }}
            </h2>
            <p class="margin-bottom-small">
              {{ rental.description }}
            </p>
            <p class="margin-bottom-medium">
              {{ rental.description2 }}
            </p>
            <h2 class="smaller-font margin-bottom-medium">
              {{ rental.title2 }}
            </h2>
            <p class="margin-bottom-medium">
              {{ rental.description3 }}
            </p>
            <h2 class="smaller-font margin-bottom-medium">
              {{ rental.title3 }}
            </h2>
            <p class="margin-bottom-medium">
              {{ rental.description4 }}
            </p>
            <p class="margin-bottom-medium">
              {{ rental.description5 }}
            </p>
            <h2 class="smaller-font margin-bottom-small">
              {{ rental.title4 }}
            </h2>
            <ul class="bullet-list" v-if="typeof rental.bullet1 !== 'undefined'">
              <li class="bullet-item">{{ rental.bullet1 }}</li>
              <li class="bullet-item">{{ rental.bullet2 }}</li>
              <li class="bullet-item">{{ rental.bullet3 }}</li>
              <li class="bullet-item margin-bottom-medium">{{ rental.bullet4 }}</li>
            </ul>
            <ul v-else>
            </ul>
            <nuxt-link to="/rentals">
              <button class="btn-long btn-black">
                <span>Terug naar overzicht</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
    <contactBlock />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
  },
  computed: {
    ...mapState({
      rentals: (state) => state.rentals,
    }),
  },
  mounted() {
    this.$store.dispatch('rentals/getSingleRental')
  },
}
</script>
