<template>
  <div class="rentals">
    <blockHeading />
    <div v-for="project in projects" :key="project._id">
      <div class="first">
        <div class="container">
          <div class="first__contain">
            <Breadcrumbs />

            <h2 v-if="project.name" class="margin-bottom-small">
              {{ project.name }}
            </h2>
            <p class="margin-bottom-big">{{ project.description }}</p>
          </div>
        </div>
      </div>
      <div class="container margin-bottom-big">
        <div class="photos">
          <div
            class="photos-item"
            :style="{
              'background-image': `url(/images/${project.category}/${project.slug}/${project.slug}-${project.image1})`,
            }"
          ></div>
          <div
            v-if="project.image2"
            class="photos-item"
            :style="{
              'background-image': `url(/images/${project.category}/${project.slug}/${project.slug}-${project.image2})`,
            }"
          ></div>
          <div
            v-if="project.image3"
            class="photos-item"
            :style="{
              'background-image': `url(/images/${project.category}/${project.slug}/${project.slug}-${project.image3})`,
            }"
          ></div>
          <div
            v-if="project.image4"
            class="photos-item"
            :style="{
              'background-image': `url(/images/${project.category}/${project.slug}/${project.slug}-${project.image4})`,
            }"
          ></div>
          <div
            v-if="project.image5"
            class="photos-item"
            :style="{
              'background-image': `url(/images/${project.category}/${project.slug}/${project.slug}-${project.image5})`,
            }"
          ></div>
        </div>
      </div>
    </div>
    <contactBlock />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
  },
  computed: {
    ...mapState({
      projects: (state) => state.projects,
    }),
  },
  mounted() {
    this.$store.dispatch('projects/getSingleProject')
  },
}
</script>
