<template>
  <div class="rentals">
    <blockHeading video="installaties" />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <div v-for="(item, index) in installations" :key="index">
            <h2
              v-if="item.title"
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small"
            >
              {{ item.title }}
            </h2>
            <p class="margin-bottom-medium">{{ item.description }}</p>
            <nuxt-link to="/installations">
              <button class="btn-long btn-black">
                <span>Terug naar overzicht</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
    <contactBlock />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
  },
  computed: {
    ...mapState({
      installations: (state) => state.installations,
    }),
  },
  mounted() {
    this.$store.dispatch('installations/getInstallations')
  },
}
</script>
