<template>
  <div class="error-page">
    <div class="container-big">
      <h2 v-if="error.statusCode === 404 || title === undefined">
        <span>Sorry, deze pagina hebben we niet gevonden...</span>
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.error-page {
  margin: 3rem 0;
  min-height: 30rem;

  h2,
  span {
    color: white;
    text-align: center;
    font-size: 2rem;
  }
}
</style>
