<template>
  <div class="home">
    <blockHeading video="home6" />
    <!-- First -->
    <div class="first">
      <div class="container">
        <div class="first__contain margin-bottom-big">
          <div class="we-do">
            <p>Benieuwd wat we doen?</p>
            <a v-scroll-to="'#projects'">
              <button class="btn">
                <span>Bekijk</span>
                <div class="btn-icon">
                  <i class="gg-arrow-down" />
                </div>
              </button>
            </a>
          </div>
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small"
          >
            Licht en geluid van Bleeker Group
          </h2>
          <p class="margin-bottom-small">
            Of het nou gaat om complete verzorging van een event, losse
            apparatuur, installatie of advies: Bleeker Group is het antwoord.
            Bleeker Group is een dynamisch licht- en geluidsverhuur bedrijf uit
            Heerhugowaard met de nodige kennis, ervaring en apparatuur van
            bovengemiddelde om ook voor u een succesvol event te draaien.
          </p>
          <nuxt-link to="/over-ons">
            <button class="btn-long btn-black">
              <span>Meer informatie</span>
              <div class="btn-icon">
                <i class="gg-arrow-right" />
              </div>
            </button>
          </nuxt-link>
        </div>
      </div>
    </div>
    <!-- First end -->
    <!-- Service -->
    <serviceBlock id="projects" class="margin-bottom-bigger" />
    <!-- contact -->
    <contactBlock />
  </div>
</template>

<script>
import blockHeading from '@/components/blockHeading'
import serviceBlock from '@/components/serviceBlock'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    contactBlock,
    serviceBlock,
    blockHeading,
  },
}
</script>
