<template>
  <div class="informatie">
    <blockHeading />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-medium"
          >
            Informatie
          </h2>
          <div class="margin-bottom-big">
            <div class="betalen margin-bottom-big">
              <h3
                id="betalen"
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                class="margin-bottom-small"
              >
                Betalen
              </h3>

              <div v-for="item in betalen" :key="item.id" class="question">
                <div class="question-title" @click="toggleQuestion(item.id)">
                  <p>{{ item.question }}</p>
                </div>
                <transition name="slide-down">
                  <div v-if="questionIndex === item.id" class="question-answer">
                    <p>{{ item.answer }}</p>
                  </div>
                </transition>
              </div>
            </div>

            <div class="huren margin-bottom-big">
              <h3
                id="huren"
                alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
                class="margin-bottom-small"
              >
                Huren
              </h3>

              <div v-for="item in huren" :key="item.id" class="question">
                <div class="question-title" @click="toggleQuestion(item.id)">
                  <p>{{ item.question }}</p>
                </div>
                <transition name="slide-down">
                  <div v-if="questionIndex === item.id" class="question-answer">
                    <p>{{ item.answer }}</p>
                  </div>
                </transition>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <contactBlock />
  </div>
</template>

<script>
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
  },
  data() {
    return {
      questionIndex: null,
      showQuestion: false,
      betalen: [
        {
          id: 'b1',
          question: 'Hoe moet ik betalen?',
          answer:
            'Vooraf kan er betaald worden met ideal of met ophalen is er mogelijkheid van pinnen of contant betalen. Onze rental partners hebben de mogelijk om achteraf op factuur te betalen.',
        },
        {
          id: 'b2',
          question: 'Moet ik borg betalen?',
          answer:
            'Bij het huren van kleine bedragen vragen wij geen borg. Bij het huren van materialen met een hoog risico voor diefstal of hoge kans op het niet juist omgaan met de materialen kunnen wij dit wel van je vragen. Je wordt daar van te voren op de hoogte gesteld.',
        },
        {
          id: 'b3',
          question: 'Zijn jullie aangegeven prijzen inclusief BTW?',
          answer: 'Nee, al onze aangegeven prijzen zijn exclusief BTW.',
        },
        {
          id: 'b4',
          question: 'Moet ik extra betalen als ik het meerdere dagen gebruik?',
          answer:
            'Wij hanteren een voordelige staffel. 1 dag = 1x dagprijs, 2 dagen= 1,5x dagprijs, 3 dagen = 2x dagprijs etc.',
        },
      ],
      huren: [
        {
          id: 'h1',
          question: 'Hoe kan ik spullen huren bij jullie?',
          answer:
            'De makkelijkste manier is je aanvraag doormailen naar info@bleekergroup.nl of natuurlijk bellen naar 072 – 3033420. Onze medewerkers helpen je graag op weg.',
        },
        {
          id: 'h2',
          question: 'Kan ik huren zonder een kvk nummer?',
          answer:
            'Jazeker, er kan wel om een ID kaart gevraagd worden bij afhalen.',
        },
        {
          id: 'h3',
          question: 'Heb ik garantie dat de apparatuur die ik huur werkt?',
          answer:
            'Wij testen alle apparatuur bij terugkomst en voordat het de deur uitgaat. Op die manier wordt alles dubbel gecheckt en garanderen wij altijd een werkend product. Mocht er overhoop toch iets stuk zijn komen wij het vervangen',
        },
        {
          id: 'h4',
          question: 'Zijn jullie altijd bereikbaar voor eventuele vragen?',
          answer:
            'Jazeker, wij zijn bereikbaar op 072-3033420. Deze lijn is 24/7 bereikbaar. Storing door onkundig gebruik word op nacalculatie doorberekend.',
        },
        {
          id: 'h5',
          question:
            'Ik heb geen eigen transport, kunnen jullie de spullen ook bezorgen/ophalen?',
          answer:
            'Ja, we hebben het transport volledig in eigen beheer en bezorgen door het hele land. Voor prijzen graag contact opnemen.',
        },
        {
          id: 'h6',
          question: 'Waar kan ik de apparatuur ophalen?',
          answer:
            'Ons bezoek adres en magazijn adres vind je op onze contact pagina',
        },
        {
          id: 'h7',
          question: 'Hoe laat kan ik de spullen ophalen?',
          answer:
            'De apparatuur kan opgehaald worden tussen 13:00 & 18:00 (specifieke datum staat op de offerte). Retourneren kan tussen 09:00 & 12:00 (specifieke datum staat op de offerte)',
        },
      ],
      bedrijven: [
        {
          id: 'be1',
          question: 'Tot hoelaat zijn jullie open?',
          answer:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cupiditate temporibus mollitia iure cumque! Nobis quisquam id adipisci alias officia!',
        },
        {
          id: 'be2',
          question: 'Hoe kan ik jullie bereiken?',
          answer:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cupiditate temporibus mollitia iure cumque! Nobis quisquam id adipisci alias officia!',
        },
      ],
    }
  },
  methods: {
    toggleQuestion(index) {
      // console.log(index)
      if (this.questionIndex === index) {
        this.questionIndex = null
      } else {
        this.questionIndex = index
      }
    },
  },
}
</script>
