<template>
  <div class="rentals">
    <blockHeading />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small"
          >
            Terms of Service
          </h2>
          <p class="margin-bottom-medium">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem
            earum quae architecto. Tempora esse fugit eius vero minima, error
            in, quibusdam beatae quis cum recusandae natus veniam necessitatibus
            omnis? Maxime rem, officiis similique blanditiis enim sapiente
            excepturi ab praesentium alias autem laborum et est quasi possimus
            dicta, quos odit accusamus!
          </p>
          <p class="margin-bottom-medium">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem
            earum quae architecto. Tempora esse fugit eius vero minima, error
            in, quibusdam beatae quis cum recusandae natus veniam necessitatibus
            omnis? Maxime rem, officiis similique blanditiis enim sapiente
            excepturi ab praesentium alias autem laborum et est quasi possimus
            dicta, quos odit accusamus!
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
  },
}
</script>
