<template>
  <div class="rentals">
    <blockHeading video="rentals" />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small"
          >
            Rentals
          </h2>
          <p class="margin-bottom-big">
            Bleeker Group faciliteert het complete audiovisuele aspect. Wij
            bieden een ruim aanbod van professionele apparatuur met licht,
            geluid, video en rigging. Zo kunnen wij apparatuur leveren voor:
            Festivals, concerten, congressen, presentaties en nog veel meer.
            Buiten het uitvoeren van Producties om is het mogelijk om apparatuur
            los te huren bij ons.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="rentals-list margin-bottom-big">
        <li v-for="(rental, index) in rentals.rentals" :key="index">
          <div class="overlay"></div>
          <div
            :style="{
              'background-image': `url(/images/${rental.image})`,
            }"
            class="rental"
          >
            <h3
              alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
              class="margin-bottom-small"
            >
              {{ rental.title }}
            </h3>
            <nuxt-link :to="`/rentals/${rental.slug}`">
              <button class="btn-long btn-yellow">
                <span>Bekijk deze rentals</span>
                <div class="btn-icon">
                  <i class="gg-arrow-right" />
                </div>
              </button>
            </nuxt-link>
          </div>
        </li>
      </ul>
    </div>

    <div class="margin-bottom-bigger">
      <videoBlock class="margin-bottom-small" />
    </div>

    <contactBlock />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import contactBlock from '@/components/contactBlock'
import videoBlock from '@/components/videoBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    contactBlock,
    videoBlock,
  },
  computed: {
    ...mapState({
      rentals: (state) => state.rentals,
    }),
  },
  mounted() {
    this.$store.dispatch('rentals/getRentals')
  },
}
</script>
