<template>
  <div class="over">
    <blockHeading video="over-ons" />
    <div class="first">
      <div class="container">
        <div class="first__contain">
          <Breadcrumbs />
          <h2
            alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
            class="margin-bottom-small"
          >
            Over Bleeker Group
          </h2>
          <p class="margin-bottom-small">
            Bleeker Group is een dynamisch licht- en geluidsverhuur bedrijf uit
            Heerhugowaard met de nodige kennis, ervaring en apparatuur van
            bovengemiddelde om ook voor u een succesvol evenement te draaien.
            Daarnaast kan u terecht bij Bleeker Group voor het huren van licht,
            geluid, video en rigging materiaal.
          </p>
          <p class="margin-bottom-small">
            Innovatief en efficiënt staat bij ons hoog in het vaandel, of dat
            nou is voor een concert, festival of business events. Ons team is
            jong, vakbekwaam en bijzonder gemotiveerd om van elke productie een
            geslaagd evenement van te maken.
          </p>
          <ul class="over__sub margin-bottom-small">
            <li>
              <p class="uppercase">Rentals</p>
            </li>
            <li>
              <div class="dot"></div>
            </li>
            <li>
              <p class="uppercase">Sales</p>
            </li>
            <li>
              <div class="dot"></div>
            </li>
            <li>
              <p class="uppercase">Installations</p>
            </li>
          </ul>
          <p class="harab uppercase">Rentals</p>
          <p class="margin-bottom-small">
            Bleeker Group faciliteert het complete audiovisuele aspect. Wij
            bieden een ruim aanbod van professionele apparatuur met licht,
            geluid, video en rigging. Zo kunnen wij apparatuur leveren voor:
            Festivals, concerten, congressen, presentaties en nog veel meer.
            Buiten het uitvoeren van producties om is het mogelijk om apparatuur
            los te huren bij ons.
          </p>
          <p class="harab uppercase">Sales</p>
          <p class="margin-bottom-small">
            Bleeker Group helpt u met de juiste apparatuur. Naast het verhuren
            van spullen verkopen we zowel nieuw als occasion. Ons assortiment
            bestaat uit: licht, geluid, video, rigging, fx en nog veel meer! Van
            1 specifiek artikel tot een compleet opgeleverde installatie. Niks
            is te gek!
          </p>
          <p class="harab uppercase">Installations</p>
          <p class="margin-bottom-big">
            Bleeker Group helpt u graag met de realisatie van een complete vaste
            installatie op uw locatie. Onze expertise is het vinden van
            oplossingen op het audiovisuele vlak. Geen locatie is te gek, of het
            nou een nieuwe sportschool, kroeg, theaterzaal of vergaderzaal is,
            wij bieden altijd een passende oplossing of advies.
          </p>
        </div>

        <div class="margin-bottom-bigger">
          <videoBlock />
        </div>
        <h3
          alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
          class="margin-bottom-smallest white"
        >
          Wat we allemaal
        </h3>
        <h3
          alt="rentals, sales, installations, licht, geluid, rigging, verhuur, feest, festival, audiovisueel, heerhugowaard, dj’s, apparatuur, evenement, video, bedrijfsfeest, dry-hire"
          class="white"
        >
          voor u kunnen betekenen
        </h3>
      </div>
    </div>
    <serviceBlock class="margin-bottom-bigger" />
    <contactBlock />
  </div>
</template>

<script>
import Breadcrumbs from '@/components/breadcrumbs'
import blockHeading from '@/components/blockHeading'
import serviceBlock from '@/components/serviceBlock'
import contactBlock from '@/components/contactBlock'
import videoBlock from '@/components/videoBlock'
export default {
  components: {
    blockHeading,
    Breadcrumbs,
    serviceBlock,
    contactBlock,
    videoBlock,
  },
}
</script>
