//
.slide-down-enter-active {
  transition-duration: 2s;
}

.slide-down-leave-active {
  transition-duration: 0.5s;
}

.slide-down-enter-to,
.slide-down-leave {
  max-height: 100rem;
  overflow: hidden;
}

.slide-down-enter,
.slide-down-leave-to {
  overflow: hidden;
  max-height: 0;
}

/////// ANIMATION BACKGROUND MENU //////////
.flip-down-enter-active {
  transition: all 0.5s ease;
}
.flip-down-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.flip-down-enter,
.flip-down-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}

// enter
.slide-leave-active,
.slide-enter-active {
  transition: 0.7s;
}

.slide-enter {
  transform: translate(100%, 0);
}

.slide-leave-to {
  transform: translate(100%, 0);
}

//
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//
.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 1s;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}

//
@media screen and (min-width: 800px) {
  .slide-up-enter-active,
  .slide-up-leave-active {
    transition: all 500ms ease;
    transform: translateY(-50px);
  }
  .slide-up-enter,
  .slide-up-leave-to {
    opacity: 0;
    transform: translateY(50px);
  }
}
