// COLOR VARIABLES
$color-yellow: #ffed00;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Harabara Mais Demo';
$font-second: 'Montserrat';

// RESPONSIVE BREAKPOINTS
$bp-medium: 64em; // 1024px
$bp-small-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media screen and (max-width: $bp-small-medium) {
    font-size: 58%;
  }
}

body {
  font-family: $font-primary;
  background-color: $color-black;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: $font-primary;
  text-transform: uppercase;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;

  @media screen and (max-width: $bp-small) {
    font-size: 2.5rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 2.2;
  font-family: $font-second;
  color: white;
}

a,
span {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  font-family: $font-primary;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}
