.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.4rem;
  height: 5rem;
  background-color: $color-yellow;
  border: 2px solid black;
  box-shadow: 5px 5px 1px 0px rgba(37, 37, 37, 0.6);
  cursor: pointer;
  transition: all 500ms ease;

  span {
    font-family: $font-primary;
    text-transform: uppercase;
  }

  &-icon {
    padding-left: 4px;
  }

  &:hover {
    transform: scale(1.04);
    // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.btn-long {
  display: flex;
  align-items: center;
  justify-content: center;
  //   width: 10.4rem;
  padding: 0 1.5rem;
  height: 5rem;
  background-color: $color-yellow;
  border: 2px solid black;
  box-shadow: 5px 5px 1px 0px rgba(37, 37, 37, 0.6);
  cursor: pointer;
  transition: all 500ms ease;
  position: relative;
  z-index: 10;

  span {
    font-family: $font-primary;
    text-transform: uppercase;
  }

  &-icon {
    padding-left: 4px;
  }

  @media screen and (min-width: $bp-small) {
    &:hover {
      transform: scale(1.04);
    }
  }
}

.btn-black {
  background-color: black;
  border: 2px solid $color-yellow;
  color: $color-yellow;

  span {
    color: $color-yellow;
  }
}

.btn-yellow {
  background-color: transparent;
  border: 2px solid $color-yellow;
  color: $color-yellow;
  box-shadow: none;

  span {
    color: $color-yellow;
  }
}

.line-white {
  width: 100%;
  height: 1px;
  background-color: white;
}

// dot
.dot {
  background-color: $color-yellow;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: 42%;
  transform: translateY(-50%);
}

.center-block {
  display: flex;
  justify-content: center;
}

//
.menu--under {
  position: absolute;
  background-color: black;
  opacity: 0.8;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bumpr {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.overlay {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 0.15;
}

.underlay-yellow {
  display: none;
  @media screen and (min-width: 600px) {
    background-color: $color-yellow;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    transition: all 500ms ease-in-out;
    display: block;
  }
}

.text-black {
  @media screen and (min-width: 600px) {
    color: black !important;
  }
}

.overlay-text {
  display: none;
  @media screen and (min-width: 600px) {
    position: absolute;
    transform: translateY(-50px);
    z-index: 10;
    display: block;
  }
}
