.margin-bottom-bigger {
  margin-bottom: 12rem;
}

.margin-bottom-big {
  margin-bottom: 10rem;
}

.margin-bottom-medium {
  margin-bottom: 5rem;
}

.margin-bottom-small {
  margin-bottom: 3rem;
}

.margin-bottom-smaller {
  margin-bottom: 2rem;
}

.margin-bottom-smallest {
  margin-bottom: 1rem;
}

.margin-top-big {
  margin-top: 10rem;
}

.margin-top-medium {
  margin-top: 5rem;
}

.relative {
  position: relative;
}

.white {
  color: white;
}

.black {
  color: black;
}

.harab {
  font-family: $font-primary;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.mons {
  font-family: $font-second;
}

.min-20 {
  top: -14rem;
}

.bold {
  font-weight: bold;
  font-family: $font-primary;
  font-size: 1.8rem;
  color: white;
}

.line-height-normal {
  line-height: 1.6 !important;
}

.uppercase {
  text-transform: uppercase;
}

.v-mobile {
  display: none;
  @media screen and (max-width: $bp-small) {
    display: block;
  }
}

.v-desktop {
  display: none;
  @media screen and (min-width: 600px) {
    display: block;
  }
}
